.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 50px;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
}
